{
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": [
                "last 2 versions"
              ]
            }
          }
        ],
        "react",
        "flow"
      ],
      "plugins": [
        "transform-flow-comments",
        "transform-decorators-legacy",
        "transform-class-properties",
        "transform-object-rest-spread"
      ]
    },
    "production": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": [
                "last 2 versions"
              ]
            },
            "modules":false
          }
        ],
        "react",
        "flow"
      ],
      "plugins": [
        "transform-flow-comments",
        "transform-decorators-legacy",
        "transform-class-properties",
        "transform-object-rest-spread"
      ]
    }
  }
}